/* :root {
    --projectblack: rgb(47, 55, 58);
    --projectwhite: rgb(209, 205, 205);
    --projectgreen: rgb(12, 218, 116);
} */
:root {
    --projectblack: rgb(2, 10, 19);
    --projectblack2: rgb(8, 15, 24);
    --projectwhite: rgb(225, 225, 225);
    --projectgreen: rgb(53, 199, 89);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Blorado', sans-serif;
    font-size: .98em;
    font-weight: lighter;
}
body {
    background: var(--projectblack)
}
/* Canvas styles Start */
/* #canvas1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}
.canvasWall {
    background: var(--projectblack);
    height: 800px;
    margin-bottom: 100px;
} */
/* Canvas styles End */


/* Nav styles Start */
.navContainer {
    width: 100%;
    background: none;
    
    z-index: 999999;
    box-shadow: 0px 3px 5px rgb(26, 25, 25);
}
.navBar {
    display: grid;
    /* essentially saying to give logo 0.2fr of space and nav items 1fr of space */
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}
#navBarLogo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}
.navLinks {
    /* background: linear-gradient(0deg, rgb(37, 37, 37), rgb(37, 37, 37)) no-repeat right bottom / 0 var(--projectblack);
    transition: background-size 500ms;
    --projectblack: 100%; */
    color: var(--projectwhite);
    text-decoration: none;
    position: relative;
}
.navLinks:hover {
    color: var(--projectwhite);
}
.navLinks::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.8px;
    bottom: 0;
    left: 0;
    background-color: var(--projectgreen);
    transform: scaleX(0);
    transition: transform 0.3s ease;;
}
.navLinks:hover::before {
    transform: scaleX(1);
}
/* .navLinks:where(:hover, :focus-visible) {
    background-size: 100% var(--projectblack);
    background-position-x: left;
    border-radius: 4px;
    color: var(--projectgreen);
    text-shadow: 0px 0px 5px var(--projectgreen);
} */

.menuToggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.2s ease-in-out;
    background: var(--projectwhite);
}
/* Nav styles End */


/* Welcome start */
.welcomeBox {
    background: var(--projectblack);
    color: var(--projectwhite);
    
}
.textbox {
    border: black solid 5px;
    padding: 30px;
    border-radius: 15px;
}
.nameText {
    color: var(--projectgreen);
}
/* Welcome end */


/* footer start*/
.footer-box {
    background-color: var(--projectblack);
    position: absolute;
    list-style: none;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 3px 3px 5px rgb(26, 25, 25);
}
.footer-text {
    text-decoration: none;
}
.footer-text a {
    text-decoration: none;
    color: var(--projectwhite);
}
.footer-text a:hover {
    color: rgb(224, 167, 101);
}
.copyrightbox {
    color: var(--projectwhite);
}

/* footer end */







/* Media queries Start */
@media screen and (max-width: 768px) {
    /* Nav styles Start */
    .navContainer {
        position: relative;
    }
    .navMenu {
        display: grid;
        grid-template-columns: auto;
        background: var(--projectblack);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navBarLogo {
        margin-left: 20px;

    }
    .navMenu.active {
        background: var(--projectgrey);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .navLinks {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .navLinks:hover {
        background-color: var(--projectgrey);
        color: var(--projectwhite);
        transition: all 0.4s ease-out;
    }

    .navBar {
        width: 100%;
    }
    #mobileMenu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menuToggle .bar {
        display: block;
        cursor: pointer;
    }
    .menuToggle:hover {
        cursor: pointer;
    }
    #mobileMenu.isActive .bar:nth-child(2) {
        opacity: 0;
    }
    #mobileMenu.isActive .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobileMenu.isActive .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* Nav styles End */


}
/* Media queries End */