:root {
    --projectblack: black;
    --projectgrey: grey;
    --projectwhite: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background: black;
}
/* Canvas styles Start */
#canvas1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.canvasWall {
    background: pink;
    height: 750px;
    margin-bottom: 100px;
}
/* Canvas styles End */


/* Nav styles Start */
.navContainer {
    width: 100%;
    background-color: var(--projectgrey);
    position: relative;
    z-index: 999999;
}
.navBar {
    display: grid;
    /* essentially saying to give logo 0.2fr of space and nav items 1fr of space */
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}
#navBarLogo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}
.navLinks {
    padding: 6px;
    color: var(--projectwhite);
    text-decoration: none;
    background: linear-gradient(0deg, black, black) no-repeat right bottom / 0 var(--projectblack);
    transition: background-size 500ms;
    --projectblack: 100%;
}
.navLinks:where(:hover, :focus-visible) {
    background-size: 100% var(--projectblack);
    background-position-x: left;
}


.menuToggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--projectwhite);
}
/* Nav styles End */

.hello {
    background: pink;
    padding: 20px;
    top: 100%;
    left: 100%;
    height: 500px;
    margin: 30px;
}
footer {
    background: pink;
    padding: 20px;
    top: 100%;
    left: 100%;
    margin: 30px;
}


/* Media queries Start */
@media screen and (max-width: 768px) {
    /* Nav styles Start */
    .navContainer {
        position: relative;
    }
    .navMenu {
        display: grid;
        grid-template-columns: auto;
        background: var(--projectblack);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navBarLogo {
        margin-left: 20px;

    }
    .navMenu.active {
        background: var(--projectgrey);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .navLinks {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .navLinks:hover {
        background-color: var(--projectgrey);
        color: var(--projectwhite);
        transition: all 0.4s ease-out;
    }

    .navBar {
        width: 100%;
    }
    #mobileMenu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menuToggle .bar {
        display: block;
        cursor: pointer;
    }
    .menuToggle:hover {
        cursor: pointer;
    }
    #mobileMenu.isActive .bar:nth-child(2) {
        opacity: 0;
    }
    #mobileMenu.isActive .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobileMenu.isActive .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* Nav styles End */


}
/* Media queries End */